RESEND_API_KEY=
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_COOKIE_NAME= 

MONGO_URI=
MONGO_PASSWORD=
MONGO_USER=

NODE_ENV=


JWT_SECRET=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DOMAIN=http://www.example.com
SESSION_SECRET=

# cloudinary
CLOUD_NAME=
CLOUD_KEY=
CLOUD_SECRET=